<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaterialDocument.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MaterialDocument.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>192.168.10.33</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>c:\DB_PULP\dispatcher.fdb</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>initial</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>initial</value>
            </setting>
            <setting name="LastConnected" serializeAs="String">
                <value>0</value>
            </setting>
        </MaterialDocument.Properties.Settings>
    </userSettings>
</configuration>